.main {
  min-height: 500px;
  align-self: center;
}
.form {
  display: flex;
  flex-flow: column;
}
.fetcingWrapper {
  position: relative;
  button {
    width: 100%;
  }
}
.fetching {
  color: green;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}
.paper {
  margin: 10px;
  padding: 10px;
}
